{% extends 'base.html' %}


{% block content %}


<div>
  <div style="text-align:center;">
    <p>
<!--      context_object_name = target_user를 사용해서 들어오는 사람에 따라 정보가 바뀌게 한다 -->
      {{target_user.date_joined}}
    </p>
      {% if target_user.profile %}
        <h2>
          {{target_user.profile.nickname }}
        </h2>
      {% else %}
        <a href = "{%  url 'profileapp:create' %}">
            <h2>
            Create Profile
            </h2>
        </a>
      {% endif %}

      {% if target_user == user %}
      <a href="{% url 'accountapp:update' pk=user.pk %}">
          <p>
              Change Info
          </p>



      </a>
      <a href="{% url 'accountapp:delete' pk=user.pk %}">
          <p>
              Quit
          </p>



      </a>
      {% endif %}
  </div>
</div>


{% endblock %}