{% extends 'base.html' %}

{% block content %}

<style>
    .testing{
    background-color:white;
    height:3rem;
    width:3rem;
    margin:1rem;

    }
</style>

<div style=" border-radius: 1rem; margin: 2rem; text-align:center;">
  <h1 style="font-family: 'Fasthand', cursive;">
      park hoodoo
  </h1>
<!--  action 에는 요청하려는 URL주소 를 넣어줘야 한다 -->
  <form action="/account/hello_world/" method="post">
<!--    Django에서 POST를 이용해서 정보를 서버에 보낼때는 csrf 라는 토큰을 명시해 줘야한다  csrf는 보안기능 -->
    {% csrf_token %}
      <div>
                        <!-- name 이 데이터의 KEY 값 말그대로 이름         -->
          <input type="text" name="hello_world_input">
      </div>
      <div>
          <input type="submit" class="btn btn-primary" value="POST">
      </div>


  </form>

    {% if hello_world_list %}
        {% for hello_world in hello_world_list %}
        <h4>
            {{ hello_world.text }}
        </h4>
        {% endfor %}

    {% endif %}



</div>

{% endblock %}